// Place all the styles related to the FlowerBunch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
}

.flower-bunch-header{
  color: #007700;
  font-size: 50px;
  margin-left: 10%;
}

.div-application{
  margin-left: 15%;
  font-family: verdana;
}

.div-side {
 border-style: solid;
 border-color: white;
 width: 20%;
 height: 500px;
 background-color: #DDDDDD;
 overflow: scroll;
}

.div-center {
 width: 40%;
 height: 500px;
 border-style: solid;
 border-color: white;
 background-color: #FFD633;
 overflow: scroll;
}

.div-float {
  float: left;
}


.div-footer{
  width: 77%;
  float: left;
  height: 100px;
  background-color: grey;
}

.p-footer{
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: verdana;
}

.p-side-section-header{
  color: black;
  font-size: 17px;
  text-align: center;
  font-family: verdana;
}

.p-center-section-header{
  color: #007700;
  font-size: 17px;
  text-align: center;
  font-family: verdana;
}

.p-center-section-description{
  font-family: verdana;
}

.p-product-description-field{
}

.hidden_class{
  visibility: hidden;
  margin: none;
  padding: none;
}

.flower-image-big{
  width: 200px;
  height: 200px;
  margin: 15px;
}

.flower-image{
  width: 170px;
  height: 170px;
  margin: 15px;
  border-color: green;
  border-width: 10px;
}

#div-big-image{
  float: right;
}

#product-status{
  color: green;
  text-align: center;
}

#finish-bunch{
  float: right;
  margin-top: 25%;
}
